@model GChat.ViewModels.MessageSenderModel;
@{
    #nullable disable
    ViewData["Title"] = "Chat";
}
<div class="main-block">
    <div class="members-chat">
        @await Component.InvokeAsync("Members", new { id = (long)1 })
    </div>


    <div class="chat">

        @await Component.InvokeAsync("Messages", new { id = (long)1 })

        <form class="write-message" asp-action="Send" asp-controller="Chat" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <input id="Text" asp-for="Text" type="text" placeholder="Print message..." />
            <span asp-validation-for="Text" />
            <input id="send" class="send-button" type="submit" value="Send" />
        </form>

    </div>
</div>

<script src="~/script.js"></script>
