@{
    #nullable disable
    ViewData["Title"] = "Chat";

    RouteData routeData = Context.GetRouteData();

    long chatId = Convert.ToInt64(routeData.Values["id"]);
}

<div class="main-block">
    <div class="members-chat">
        @await Component.InvokeAsync("Members", new { id = chatId })
    </div>
    <div class="chat">

        @await Component.InvokeAsync("Messages", new { id = chatId })

        <div class="write-message" method="post">
            <div id="Text" class="scroll-effect" role="textbox" contenteditable="true"></div>
            <button id="send" class="send-button">Click me</button>
        </div>

    </div>
</div>