@model GChat.ViewModels.ChatModel

@{
    #nullable disable
    ViewData["Title"] = "Create chat";
}

<div class="create-chat">
    <h1>Create chat</h1>
    <form asp-action="Create" asp-controller="Chat" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly" />

        <div class="checkbox-list g-list-style">
            <div class="form-group item">
                <input asp-for="ChatName" type="text" placeholder="Название чата" />
            </div>

            @foreach (var id in Model.IdMembers)
            {
                <div class="checkbox-group item">
                    <input type="checkbox" name="SelectedUsers" value="@id.Value" id="" />
                    <label>@id.Text</label>
                </div>
            }

        </div>
        <div class="form-group-create">
            <input class="button-create" type="submit" value="Create" />
        </div>
    </form>
</div>