@model List<Chat>;
@{
    ViewData["Title"] = "MyChats";
}

<div class="my-chats">
    <h1>Мои чаты</h1>

    <div class="list">
        @{
            #nullable disable
            foreach (Chat chat in Model)
            {
                string chatLink = $"{chat.ChatId} {chat.Name}";
                <div class="chat-link">
                    @Html.ActionLink(chatLink, "Chat", "Chat", new { id = chat.ChatId })
                </div>
            }
        }
    </div>
</div>