<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Chat</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/Chat.styles.css" asp-append-version="true" /> *@
    @* https://ask-dev.ru/info/28437/how-to-get-the-current-user-in-aspnet-mvc *@
    <link rel="stylesheet" href="~/style.css">
</head>

<body>
    <div class="container header">
        <div class="logo">
            <span>@(this?.User?.Identity?.Name == null ? "Please sign-in" : $"Welcome to chat, {this?.User?.Identity?.Name}")</span>
        </div>
        <div class="menu">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="button"><a asp-action="Find" asp-controller="Account">Find friend</a></div>
                <div class="button"><a asp-action="MyChats" asp-controller="Chat">Chats</a></div>
                <div class="button"><a asp-action="Create" asp-controller="Chat">Create chat</a></div>
                <div class="button"><a asp-action="Logout" asp-controller="Account">Sign out</a></div>
            }
            else
            {
                <div class="button"><a asp-action="Register" asp-controller="Account">Registration</a></div>
                <div class="button"><a asp-action="Login" asp-controller="Account">Sign in</a></div>
            }
        </div>
    </div>
    @RenderBody()


    @{
        string link = "https://unpkg.com/@microsoft/signalr@3.1.0/dist/browser/signalr.min.js";
    }
    <script src=@link></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
