@using GChat.ViewModels;

@model LoginModel;

<div class="signin-container">
    <h2>Вход в чат</h2>

    <form class="SignIn" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>

        <div class="g-list-style">
            <div class="item">
                <input type="text" asp-for="Login" placeholder="Login" />
                <span asp-validation-for="Login" />
            </div>
            <div class="item">
                <input asp-for="Password" placeholder="Password" />
                <span asp-validation-for="Password" />
            </div>
        </div>
        <input type="submit" value="Войти" />
    </form>
</div>