/bin/*
/obj/*
wwwroot/*
wwwroot/fonts/*
wwwroot/lib/*
wwwroot/js/*
wwwroot/images/*
wwwroot/css/*

/wwwroot/*
/wwwroot/fonts/*
/wwwroot/lib/*
/wwwroot/js/*
/wwwroot/images/*
/wwwroot/css/*

/Migrations/*

favicon.ico